<div class="chat">
<div class="chat__list">
  {{{ chatList }}}
</div>
<div class="chat__main">
  <div class="header">
    <div class="photo-container">
      {{#if avatar}}
        <img class="photo__avatar" alt="avatar" src="https://ya-praktikum.tech/api/v2/resources{{avatar}}">
      {{/if}}
      <span class="username">{{name}}</span>
    </div>
    {{#if isMineChat }}

        {{{ menuButton }}}

    {{/if}}
  </div>
  <div class="space">
    {{#if selectedChat }}
      <div class="space__chats">
        {{#each messages}}
          {{{this}}}
        {{/each}}
      </div>
    {{else}}
      <span class="no-open-chat">Выберите чат чтобы отправить сообщение</span>
    {{/if}}
  </div>
  <div class="message">
    {{{ sendForm }}}
    {{{ buttonSendMessage }}}
  </div>
  {{{ popupMenu }}}
  {{{ popupAddUser }}}
  {{{ popupDeleteUser }}}
  {{{ popupWithUsersCard }}}
</div>
</div>
