<div class="chat">
  <div class="chat">
  <div class="chat__list">
    {{{ chatList }}}
  </div>
  <div class="chat__main">
    <div class="header">
      <div class="photo-container">
        <img class="photo__avatar" alt="avatar" src={{photo}}>
        <span class="username">{{name}}</span>
      </div>
      <span class="button__menu">
          <button class="menu"></button>
      </span>
    </div>
    <div class="space">
      <span class="no-open-chat">Выберите чат чтобы отправить сообщение</span>
    </div>
    <div class="message">
      {{{ buttonAttachment }}}
      <form class="form">
        {{{ inputMessage }}}
      </form>
        {{{ buttonSendMessage }}}
    </div>
    <div class="popup">
      <div class="popup__card">
        <img class="popup__card-img" src={{popup.photoCard.src}} alt="img-card">
        <span class="popup__card-text">{{popup.photoCard.text}}</span>
      </div>
      <div class="popup__card">
        <img class="popup__card-img" src={{popup.file.src}} alt="img-card">
        <span class="popup__card-text">{{popup.file.text}}</span>
      </div>
      <div class="popup__card">
        <img class="popup__card-img" src={{popup.location.src}} alt="img-card">
        <span class="popup__card-text">{{popup.location.text}}</span>
      </div>
    </div>
  </div>
</div>
