 <div class="container__profile">
  <button class="button-back"></button>
  <div class="profile-main">
    <div class="avatar">
      <div class="avatar__photo-container">
        <figure class="avatar__photo-edit"></figure>
        <img class="avatar__photo" src="{{avatar}}"  alt="avatar">
      </div>
      <div class="avatar__name">Hi, {{name}}</div>
    </div>
    <div class="profile-form">

       {{{ profileEdit }}}

       {{{ profileEditPassword }}}

    </div>
    <div class="button__container">
        {{# if isCanEdit }}
          {{{ buttonSave }}}
        {{else}}
          {{{ buttonEdit }}}
          {{{ buttonEditPassword }}}
        {{/if}}
      {{{ buttonSignOut }}}
    </div>

  </div>
</div>
