 <div class="container__profile">
   {{{buttonBack}}}
  <div class="profile-main">
    {{{avatar}}}
    {{{ popupAvatar }}}
    {{{ popupPasswordError }}}
    {{{ popupError }}}
    <div class="profile-form">
      {{#if isProfileEdit}}
        {{{ profileEdit }}}
      {{else}}
        {{{ profileEditPassword }}}
      {{/if}}
    </div>
    <div class="button__container">
        {{# if isCanEdit }}
          {{# if isProfileEdit }}
            {{{ buttonSaveUser }}}
          {{else}}
            {{{ buttonSavePassword }}}
          {{/if}}
        {{else}}
          {{{ buttonEdit }}}
          {{{ buttonEditPassword }}}
        {{/if}}
      {{{ buttonSignOut }}}
    </div>

  </div>

</div>
