<div class="popup-container">
  <div class="popup-background"></div>
  <form class="popup" id="popup">
    {{{ close }}}
    <span id="avatar-error" class="input-error"></span>
    <h3 class="popup-title {{ classTitle }}">{{ title }}</h3>
    <div class="popup-content">
      {{{ content }}}
      {{#if usersCards}}
        {{#each usersCards}}
          {{{this}}}
        {{/each}}
      {{/if}}
    </div>
    {{{ button }}}
    {{{ button2 }}}
    {{{ button3 }}}
    </h3>
  </form>

</div>
