<div class="user-profile">
  <form class="profile__form" novalidate>
    <fieldset class="profile__fields">
      <div class="profile__container">
        <p class="profile__form-input-name">Email</p>
        {{{ userEmail }}}
      </div>
      <span id="email-input-error" class="input-error"></span>
      <hr/>
      <div class="profile__container">
        <p class="profile__form-input-name">Username</p>
        {{{ username }}}
      </div>
      <span id="username-input-error" class="input-error"></span>
      <hr/>
      <div class="profile__container">
        <p class="profile__form-input-name">Name</p>
        {{{ firstName }}}
      </div>
      <span id="first_name-input-error" class="input-error"></span>
      <hr/>
      <div class="profile__container">
        <p class="profile__form-input-name">Surname</p>
        {{{ secondName }}}
      </div>
      <span id="second_name-input-error" class="input-error"></span>
      <hr/>
      <div class="profile__container">
        <p class="profile__form-input-name">Name In Chat</p>
        {{{ displayName }}}
      </div>
      <span id="display_name-input-error" class="input-error"></span>
      <hr/>
      <div class="profile__container">
        <p class="profile__form-input-name">Phone</p>
        {{{ phone }}}
      </div>
      <span id="phone-input-error" class="input-error"></span>
    </fieldset>
  </form>
</div>
