<div class="user-profile">
  <form class="profile__form" novalidate>
    <fieldset class="profile__fields">
      <div class="profile__container">
        <p class="profile__form-input-name">Email</p>
        {{{ userEmail }}}
      </div>
      <span class="form__input-error email-input-error"></span>
      <hr/>
      <div class="profile__container">
        <p class="profile__form-input-name">Username</p>
        {{{ username }}}
        <span class="form__input-error username-input-error"></span>
      </div>
      <hr/>
      <div class="profile__container">
        <p class="profile__form-input-name">Name</p>
        {{{ name }}}
        <span class="form__input-error name-input-error"></span>
      </div>
      <hr/>
      <div class="profile__container">
        <p class="profile__form-input-name">Surname</p>
        {{{ surname }}}
        <span class="form__input-error surname-input-error"></span>
      </div>
      <hr/>
      <div class="profile__container">
        <p class="profile__form-input-name">Name In Chat</p>
        {{{ nameInChat }}}
        <span class="form__input-error nameInChat-input-error"></span>
      </div>
      <hr/>
      <div class="profile__container">
        <p class="profile__form-input-name">Phone</p>
        {{{ tel }}}
        <span class="form__input-error tel-input-error"></span>
      </div>
    </fieldset>
  </form>
</div>
