<div class="user-profile">
  <form class="profile__form" novalidate>
    <fieldset class="profile__fields">
      <div class="profile__container">
        <p class="profile__form-input-name">Email</p>
        {{{ userEmail }}}
      </div>
      <span id="email-input-error" class="input-error"></span>
      <hr/>
      <div class="profile__container">
        <p class="profile__form-input-name">Username</p>
        {{{ username }}}
      </div>
      <span id="username-input-error" class="input-error"></span>
      <hr/>
      <div class="profile__container">
        <p class="profile__form-input-name">Name</p>
        {{{ name }}}
      </div>
      <span id="name-input-error" class="input-error"></span>
      <hr/>
      <div class="profile__container">
        <p class="profile__form-input-name">Surname</p>
        {{{ surname }}}
      </div>
      <span id="surname-input-error" class="input-error"></span>
      <hr/>
      <div class="profile__container">
        <p class="profile__form-input-name">Name In Chat</p>
        {{{ nameInChat }}}
      </div>
      <span id="nameInChat-input-error" class="input-error"></span>
      <hr/>
      <div class="profile__container">
        <p class="profile__form-input-name">Phone</p>
        {{{ tel }}}
      </div>
      <span id="tel-input-error" class="input-error"></span>
    </fieldset>
  </form>
</div>
