<aside>
  <div class="chat-header">
    {{{ button }}}
    {{{ input }}}
    <span id="input-create-error" class="input-error"></span>
    {{{ buttonCreateChat }}}
  </div>
  <div class="chats">
    {{#if isLoaded }}
      {{#each chats}}
        {{{this}}}
      {{/each}}
    {{else}}
      Loading...
    {{/if}}
  </div>
</aside>

