<div class="chat-message">
    <div class="photo">
      {{#if last_message.user.avatar }}
      <img class="photo__avatar" alt="avatar" src="https://ya-praktikum.tech/api/v2/resources{{last_message.user.avatar}}">
      {{else}} <span>{{title}}</span>
      {{/if}}
    </div>
  <div class="chat-container">
    <span class="user-name">{{title}}</span>
    <div class="chat-text">
        <span class="message"> {{ last_message.content }}</span>
    </div>
  </div>
  <div class="chat-info">
    <span class="time">{{time}}</span>
    {{#if isMine}}
      {{{buttonDelete}}}
    {{/if}}
    {{#if unread_count }}
      <span class="total-message">{{unread_count}}</span>
    {{/if}}
  </div>
</div>
