
  <div class="container">
    <p class="container__title">Create profile</p>
    <form class="container__form" name="form">
      <div class="container__form-type">
        <label class="container__form-label" for="email">Email</label>
        {{{email}}}
        <span id="email-error" class="input-error"></span>
      </div>
      <div class="container__form-type">
        <label class="container__form-label" for="login">Login</label>
        {{{login}}}
        <span id="login-error" class="input-error"></span>
      </div>
      <div class="container__form-type">
        <label class="container__form-label" for="name">Name</label>
        {{{firstName}}}
        <span id="name-error" class="input-error"></span>
      </div>
      <div class="container__form-type">
        <label class="container__form-label" for="surname">Surname</label>
        {{{secondName}}}
        <span id="surname-error" class="input-error"></span>
      </div>
      <div class="container__form-type">
        <label class="container__form-label" for="tel">Phone</label>
        {{{phone}}}
        <span id="phone-error" class="input-error"></span>
      </div>
      <div class="container__form-type">
        <label class="container__form-label" for="password">Password</label>
        {{{password}}}
        <span id="password-error" class="input-error"></span>
      </div>
      <div class="container__form-type">
        <label class="container__form-label" for="Ñpassword">Password</label>
        {{{cpassword}}}
        <span id="cpassword-error" class="input-error"></span>
      </div>
      {{{ button }}}
    </form>
    <a href="/signIn" class="container__button sign-up router">Sign-In</a>
  </div>

