<div class="popup">
    <div class="popup__card">
        <img class="popup__card-img" src={{popup.photoCard.src}} alt="img-card">
        <span class="popup__card-text">{{popup.photoCard.text}}</span>
    </div>
    <div class="popup__card">
        <img class="popup__card-img" src={{popup.file.src}} alt="img-card">
        <span class="popup__card-text">{{popup.file.text}}</span>
    </div>
    <div class="popup__card">
        <img class="popup__card-img" src={{popup.location.src}} alt="img-card">
        <span class="popup__card-text">{{popup.location.text}}</span>
    </div>
</div>
